#placeorder-container {

    .checkout-state {
        padding: 10px;
        width: 100%;
        font-weight: 600;
        color: gray;
    }

    .warning {
        background-color: #ffdddd;
    }

    .success {
        background-color: #ddffdd;
    }
}