@mixin mobile{
    @media(max-width: $mobile){
        @content;
    }
}

@mixin ratings {
    .product-ratings {
        display: flex;
        align-items: center;

        @include mobile {
            flex-direction: column;
            align-items: flex-start;
        }

        & > :nth-child(2) {
            font-weight: 600;
            font-size: 1.0rem;
            width: 100%;
            padding-bottom: 4px;
            align-self: flex-end;
        }

        .stars {
            // width: 50%;
            // font-size: 1.4rem;
            // letter-spacing: 2px;
            // background: linear-gradient(90deg, yellow 50%, gray 0%);
            // background-clip: text;
            // color: transparent;
        }
    }
}